@{
    ViewData["Title"] = "Shows";
}


<div class="text-center">
    <div class="displayShowCard">
        <section class="watcherContainer">
            <section id="dropdowns">
                <h1 class="display-4">List of All Shows</h1>
                <div class="allShowsSection">
                    @if (ViewBag.AllShowCardShows == null)
                    {
                        <h2>Looks like you have no shows. </h2>
                        <h2><a class="nav-link text-dark" asp-area="" asp-controller="Show" asp-action="ManageShows">Add a Show</a></h2>
                    }
                    else
                    {
                        @foreach (Show show in ViewBag.AllShowCardShows)
                        {

                            <button class="showTitle">
                                @Html.ActionLink(show.Title, "ByShow", new { showID = show.ShowID })
                            </button>

                        }

                    }
                </div>
            </section>
        </section>
    </div>
</div>