@{
    ViewData["Title"] = "Shows";
}


<div class="text-center">
    <div class="displayShowCard">
        <section class="watcherContainer">
            <section id="dropdowns">
                <h1 class="display-4">List of All Shows</h1>
                @if (ViewBag.AllShowCardShows == null)
                {
                    <h2>Looks like you have no shows. </h2>
                    <h2><a class="nav-link text-dark" asp-area="" asp-controller="Show" asp-action="ManageShows">Add a Show</a></h2>
                }
                else
                {
                    
                    @foreach (Show show in ViewBag.AllShowCardShows)
                    {
                        <h3>@Html.ActionLink(show.Title, "ByShow", new { showID = show.ShowID}, new { @class = "showTitle" })</h3>
                    }

                }
            </section>
        </section>
    </div>
</div>