@{
    ViewData["Title"] = "Watchers";
}

<h3>@ViewBag.Message</h3>
<div class="text-center">
    <div class="displayShowCard">
        <section class="watcherContainer">
            <section id="dropdowns">
                  <div class="allShowsSection">
                    @if ((ViewBag.AllShowCardWatchers).Count < 1)
                    {
                        <h2>Looks like you are not watching anything. </h2>
                        <h2><a class="nav-link text-dark" asp-area="" asp-controller="ShowCard" asp-action="CreateCard">Add a connection</a></h2>
                    }
                    else
                    {
                        @foreach (Watcher watcher in ViewBag.AllShowCardWatchers)
                        {
                            <button class="showTitle">
                                @Html.ActionLink(watcher.Name, "ByWatcher", new { watcherID = watcher.WatcherID }@*, new { @class = "showTitle" }*@)
                            </button>
                        }
                    }
                    </div>
            </section>
        </section>
    </div>

</div>


