
    @{
        ViewData["Title"] = "Shows";
    }


    <div class="text-center">
        <h1 class="display-4">List of All Shows</h1>
        @if (ViewBag.AllShows == null)
        {
            <h2>Looks like you have no shows. </h2>
            <h2><a class="nav-link text-dark" asp-area="" asp-controller="Show" asp-action="ManageShows">Add a Show</a></h2>
        }
        else
        {
            @foreach (string title in ViewBag.AllShows)
            {
                <h3>@title</h3>
                }

            }

    </div>