
    @{
        ViewData["Title"] = "Shows";
    }

<div class="text-center">
    <h1 class="display-4">Programs</h1>
    @if (ViewBag.AllShows == null)
    {
        <h2>No programs to display </h2>
        <h2><a class="nav-link text-dark" asp-area="" asp-controller="Show" asp-action="ManageShows">Add a Program</a></h2>
    }
    else
    {
        <ul style="list-style: none">
            @foreach (string title in ViewBag.AllShows)
            {
                <li>@title</li>
            }
        </ul>
    }

</div>