@{
    ViewData["Title"] = "Login";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>
        This is the splash page for We Watch if the isloggedIn is false;
    </p>
    <form action="Login" method="post">
        <label for="email">Email</label>
        <input type="text" id="email" name="email" />
        <label for="password">Password</label>
        <input type="password" id="password" name="password" />
        <input type="submit" />

    </form>

    <p>@ViewBag.Count</p>

    @if (ViewBag.email != null || ViewBag.password != null)
    {<h3>You have entered:</h3>}
    <p>@ViewBag.email</p>
    <p>@ViewBag.password</p>


</div>
