@{
    ViewData["Title"] = "Watchers";
}

<div class="text-center">
    <div class="displayShowCard">
        <section class="watcherContainer">
            <section id="dropdowns">
                <h1 class="display-4">Watchers</h1>
                <p>
                    This is the page that we get to when Clicking Watchers;
                </p>
                <h2>   @ViewBag.usedemail</h2>
                @*<ul style="list-style: none">*@
            <div id="watchersList">
                @foreach (Watcher watcher in ViewBag.AllWatchers)
                {
                    <button class="programTitle">@watcher.Name</button>
                }
                @* </ul>*@
            </div>
                <a href="watcher/ManageWatcher" class="btn-outline-info">Manage</a>
            </section>
            </section>
    </div>
</div>
