@{
    ViewData["Title"] = "Watchers";
}

<div class="text-center">
    <div class="listOfShowsWatchers">
        <h1 class="display-4">Watchers</h1>
        <p>
            This is the page that we get to when Clicking Watchers;
        </p>
        <h2>   @ViewBag.usedemail</h2>
        @*<ul style="list-style: none">*@
        @foreach (Watcher watcher in ViewBag.AllWatchers)
        {
            <button class="watcherName">@watcher.Name</button>
        }
        @* </ul>*@
        <a href="watcher/ManageWatcher" class="btn-outline-info">Manage</a>
    </div>
</div>
