
@{
    ViewData["Title"] = "Manage Watcher";
}


<div class="text-center">
    <h1 class="display-4">Here is the Manage Watcher page</h1>

    <h3>@ViewBag.Message </h3>

    <form action="AddWatcher" method="post">
        <label for="title">Watcher Name</label>
        <input type="text" id="name" name="name" required />
        @ViewBag.nameError

        <input type="submit" value="Add a Watcher" />
    </form>


    @foreach (Watcher watcher in ViewBag.AllWatchers)
    {
        <form action="EditWatcher" method="post">
            <input type="hidden" name ="watcherID"value="@watcher.WatcherID" />
            <input type="text" name="watcherName" value="@(watcher.Name)" />
            <input type="submit" name="editWatcher" value="Edit" />
            <input type="submit" name="deleteWatcher" value="Delete" />
        </form>
    }





</div>
